body
{
    background-color: black;
}

#canvas
{
    display: block;
    width: 608px;
    height: 392px;
    margin: auto;
    border-radius: 10px;
}

.panel
{
    width: 608px;
    margin: auto;
    margin-top: 1em;
    background-color: #333;
    color: #aaa;
    font-family: sans-serif;
    font-size: 0.8em;
    border: 1px solid #400;
}

.panel a:link, .panel a:visited
{
    color: #aaa;
    font-weight: bold;
    text-decoration: none;
}

.panel a:hover
{
    text-decoration: underline;
}

/* log */

#log div.jquery-console-inner
{
    height: 100px;
    padding: 0.5em;
    overflow: auto;
}

#log div.jquery-console-prompt-box
{
    font-family: monospace;
    color: #eee;
}

#log div.jquery-console-focus span.jquery-console-cursor
{
    background-color: #eee;
    color: #333;
}

#log .jquery-console-message-error
{
    color: #e00;
}

.status
{
    display: inline;
    background-color: #000;
    font-size: 0.4em;
    border-radius: 4px;
    padding: 1px;
    margin-left: 0.7em;
    color: black;
    border: 1px solid black;
    font-weight: bold;
}

.status-pending:before
{
    content: "pending";
}

.status-pending
{
    background-color: yellow;
}

.status-done:before
{
    content: "done";
}

.status-done
{
    background-color: green;
}

.status-failed:before
{
    content: "failed";
}

.status-failed
{
    background-color: red;
}

/* debugger */

#debugpanel
{
    padding: 10px;
}

ul.tabs
{
    display: table;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    width: 100%;
}

ul.tabs > li.tab
{
    float: left;
    padding: 10px;
    cursor: pointer;
    border-right: 5px solid black;
}

ul.tabs > li.tab:hover
{
    background-color: #333;
}

ul.tabs > li.tab.selected
{
    background-color: #333;
}

table.variables
{
}

table.variables td.name
{
    font-weight: bold;
    text-align: right;
}

table.variables td.name:after
{
    content: ":";
}
