<!doctype html>
<html>
<head>
<title>Moiety</title>
<script type="text/javascript" src="static/js/jquery.js"></script>
<script type="text/javascript" src="static/js/jquery.console.js"></script>

<script type="text/javascript" src="static/js/underscore.js"></script>
<script type="text/javascript" src="static/js/backbone.js"></script>

<script type="text/javascript" src="static/js/cache.js"></script>

<script type="text/javascript" src="static/js/moiety-log.js"></script>
<script type="text/javascript" src="static/js/moiety-script.js"></script>
<script type="text/javascript" src="static/js/moiety-resources.js"></script>
<script type="text/javascript" src="static/js/moiety.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/moiety.css" media="all">
</head>
<body>
<canvas id="canvas" width="608" height="392"></canvas>
<div id="log"></div>
</body>
</html>
